<p>update-ticket-component works!</p>
<h3>Modification d'un ticket</h3>{{data.ticket.texte}}
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="support">Membre attribué :</label>
      <select [(ngModel)]="ticket.membresup" required name="support">
        <option *ngFor="let auteur of data.membres" [ngValue]="auteur">
          {{auteur.id}}-{{auteur.nom}}
    </option>
    </select>
    <div class="form-group">
        <label for="etat">Etat :</label>
        <select [(ngModel)]="ticket.etat" name="etat">
          <option *ngFor="let etat of data.etats" [ngValue]="etat">
        {{etat?.libelle}}
      </option>
      </select>
    </div>
    </div>
   

    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Création réussie!</h4>
  
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
