<p>tag-component works!</p>
<div class="card my-5">
    <div class="card-body">
      <button (click)="addTag()">Ajouter un tag</button>
      <table mat-table [dataSource]="tags">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Tag id </th>
          <td mat-cell *matCellDef="let tag"> {{tag.id}} </td>
        </ng-container>
        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef>Libelle </th>
          <td mat-cell *matCellDef="let tag"> {{tag.libelle}} </td>
        </ng-container>
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions </th>
          <td mat-cell *matCellDef="let tag"> 
            <button (click)="onDelete(tag.id)">Supprimer</button>
            <button (click)="onUpdate(tag.id)">Modifier</button> 
          </td>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>

