<h3>Création d'un utilisateur</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="nom">Nom d'utilisateur</label>
      <input type="text" class="form-control" id="nom" name="nom" [(ngModel)]="user.nom" required #name="ngModel">
    </div>
    <div [hidden]="!name.pristine" class="alert alert-danger">Nom requis</div>
    <div class="form-group">
      <label for="type">Est-il un membre support?</label>
      <input name="options" ng-control="options" type="radio" [value]="0"  [(ngModel)]="type">Non
      <input name="options" ng-control="options" type="radio" [value]="1" [(ngModel)]="type" >Oui
      <p>{{type}}</p>
    </div>
   

    <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Création réussie!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>